.container {
  padding-top: 20px;
}
.movie {
  width: 200px;
  height: 110px;
  background-color: #3D9970;
  color: white;
  margin: 10px;
}
.details {
  width: 240px;
  margin: 10px;
  background-color: blue;
  color: white;
  float: left;
}
.selected {
  border: 2px #01FF70 solid;
}
.loading {
  background-color: #ccc;
}
